@media screen and (max-width: 700px) {
    header .container{
        display: flex;
        flex-direction:column; /*joga os botões para baixo quando estiver em telas pequenas*/
    }

    .botao{
        margin-top: 5px;
        width: 300px;
    }
}

@media screen and (min-width:1000px){
    .descricao{
        width: 70%;
    }
}

@media screen and (max-width:700px){
    .logo{
        width: 20%;
    }
}